<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
	<appSettings>
    <add key="userDB" value="Data Source=10.0.231.36;Initial Catalog=FP_Users;User ID=sa;password=SEHRDB#$2022" />
    <add key="DB" value="Data Source=10.0.231.36;Initial Catalog=FP2;User ID=sa;password=SEHRDB#$2022" />
	</appSettings>
</configuration>